div::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #161b22;
}

@media (max-width:640px) {
  #category{
    width: 8rem;
    margin-left: 1rem;
  }
  #form{
    width: 10rem;
  }
  #form button{
    display: none;
  }
}