div::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #161b22;
}

#card{
  height: 24rem;
  width: 18rem;
}

#img_card img{
  width: 16rem;
  margin-top: 0.5rem;
}

#title_Card{
  width: 16rem;
}

@media (max-width: 805px) { 
  #card{
    height: 15rem;
    width: 23rem;
    display: flex;
  }
  #img_card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
  }
  #img_card img{
    width: 9rem;
    height: 10rem;
    margin-top: 0rem;
  }
  #info{
    width: 10rem;
  }
  #desc{
    width: 9rem;
  }
  #btn{
    display: none;
  }
 }